@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    margin: 0;
    padding: 0;
  }
}

@layer components {
  .tip{
  visibility: hidden;
  position: absolute;
}
.has-tooltip:hover .tip {
  visibility: visible;
  z-index: 100;
}
}
